{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tu propio CSS -->
    <link rel="stylesheet" href="{% static 'css/detalle.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="navbar-contenido">
        <a href="{% url 'resultados' %}" class="navbar-logo">← Regresar</a>
        <span class="navbar-titulo">Evaluación Docente</span>
    </div>
</nav>

<main class="contenedor-detalles">
    <h2 class="titulo-principal">Detalles de los Resultados: {{ ciclo_nombre }}</h2>
    <h3>Nombre: {{ docente_nombre }}</h3>

    <form method="get" class="formulario">
        <div class="campo-form">
            <label for="subject">Materias:</label>
            <select name="subject" id="subject" onchange="this.form.submit()">
                <option value="">Selecciona la materia</option>
                {% for m in materias %}
                    <option value="{{ m.id }}"
                        {% if materia_seleccionada and m.id == materia_seleccionada.id %}selected{% endif %}>
                        {{ m.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if materia_seleccionada %}
        <h3 class="subtitulo">Materia: {{ materia_seleccionada.nombre }}</h3>

        <div class="tabla-contenedor">
            <table class="tabla-estudiantes">
                <thead>
                    <tr>
                        <th>N° pregunta</th>
                        <th>Puntaje promedio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pregunta, puntaje in materia_seleccionada.puntajes_por_pregunta.items %}
                        <tr>
                            <td>{{ pregunta }}</td>
                            <td>{{ puntaje }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tabla-contenedor">
            <table class="tabla-estudiantes">
                <thead>
                    <tr>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comentario in materia_seleccionada.comentarios %}
                        <tr>
                            <td>{{ comentario }}</td>
                        </tr>
                    {% empty %}
                        <tr><td>No hay comentarios</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</main>

</body>
</html>
