{% extends "admin/menu.html" %}

{% block title %}Docentes{% endblock %}

{% block contenido %}
    <h2 class="titulo-principal">Docentes</h2>

    {% if error %}
        <div class="alerta-error">{{ error }}</div>
    {% endif %}

    <form method="post" class="formulario">
        {% csrf_token %}
        
        <div class="campo-form">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="campo-form">
            <label for="subject">Materias:</label>
            <select name="subject" id="subject" required>
                <option value="">Selecciona la materia</option>
                {% for mat in materias %}
                    <option value="{{ mat.id }}">{{ mat.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="boton-contenedor">
            <button type="submit" class="boton-agregar">Agregar</button>
        </div>
    </form>

    <div class="tabla-contenedor">
        <table class="tabla-estudiantes" id="tabla-docentes" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Materias</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in docentes %}
                    <tr>
                        <td>{{ doc.id }}</td>
                        <td>{{ doc.nombre }}</td>
                        <td>
                            {% for mat in doc.materias_nombres %}
                                {{ mat }}{% if not forloop.last %}<br>{% endif %}
                            {% empty %}
                                Ninguna
                            {% endfor %}
                        </td>
                        <td>
                            <span class="estado {% if doc.estado == 1 %}activo{% else %}inactivo{% endif %}">
                                {% if doc.estado == 1 %}
                                    Activo
                                {% else %}
                                    Inactivo
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <a class="boton-editar" href="editar_docente/{{ doc.id }}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
