{% extends "admin/menu.html" %}

{% block title %}Estudiantes{% endblock %}

{% block contenido %}
    <h2>Estudiantes</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post" class="col-6">
         {% csrf_token %}
        <div class="row">
            <label for="name" class="col-auto col-form-label">Nombre:</label>
            <div class="col">
                <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder=""
                       required/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="cuenta" class="col-auto col-form-label">Cuenta:</label>
            <div class="col">
                <input type="text" class="form-control" name="cuenta" id="cuenta" required/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-auto col-form-label">Contraseña:</label>
            <div class="col">
                <input type="password" class="form-control" name="password" id="password" required/>
            </div>
        </div>

        <div class="mb-5">
            <button type="submit" class="btn btn-dark">Agregar</button>
        </div>
    </form>

    <div class=" col-8">
        <table class="table table-primary">
            <thead>
            <tr>
                <th scope="col">Carnet</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Materias</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            {% for est in estudiantes %}
                <tr>
                    <td>{{ est.carnet }}</td>
                    <td>{{ est.nombre }}</td>
                    <td>
                        {% for mat in est.materias_nombres %}
                            {{ mat }}
                            {% if not forloop.last %} {% endif %}<!-- not forloop.last se usa para saber si el ciclo actual no está en su última vuelta -->
                            <br>
                        {% empty %}
                            Ninguna (Presiona editar para agregar)
                        {% endfor %}
                    </td>
                    <td>
                        {% if est.estado == 1 %}
                            Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </td>
                    <td>
                        <a href="editar_estudiante/{{ est.id }}" class="btn btn-dark">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            </tbody>
        </table>
    </div>
{% endblock %}