{% extends "admin/menu.html" %}

{% block title %}Estudiantes{% endblock %}

{% block contenido %}
    <h2 class="titulo-principal">Estudiantes</h2>
    {% if error %}
        <div class="alerta-error">{{ error }}</div>
    {% endif %}

    <form method="post" class="formulario">
         {% csrf_token %}
        <div class="campo-form">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" required />
        </div>

        <div class="campo-form">
            <label for="cuenta">Cuenta:</label>
            <input type="text" name="cuenta" id="cuenta" required />
        </div>

        <div class="campo-form">
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required />
        </div>

        <div class="boton-contenedor">
            <button type="submit" class="boton-agregar">Agregar</button>
        </div>
    </form>

    <div class="tabla-contenedor">
        <table class="tabla-estudiantes">
            <thead>
                <tr>
                    <th>Carnet</th>
                    <th>Estudiante</th>
                    <th>Materias</th>
                    <th>Evaluaciones</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for est in estudiantes %}
                <tr>
                    <td>{{ est.carnet }}</td>
                    <td>{{ est.nombre }}</td>
                    <td>
                        {% for mat in est.materias_nombres %}
                            {{ mat }}{% if not forloop.last %}<br>{% endif %}
                        {% empty %}
                            Ninguna (Presiona editar para agregar)
                        {% endfor %}
                    </td>
                    <td>{{ est.evaluaciones_realizadas }}</td>
                    <td>
                        {% if est.estado == 1 %}
                            <span class="estado activo">Activo</span>
                        {% else %}
                            <span class="estado inactivo">Inactivo</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="editar_estudiante/{{ est.id }}" class="boton-editar">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
