{% extends "admin/menu.html" %}

{% block title %}Estudiantes{% endblock %}

{% block contenido %}
    <h1>¡Bienvenido {{ request.session.nombre }}!</h1>
    <h2>Ciclo actual: {{ ciclo.nombre }}</h2>

    <form method="post">
        {% csrf_token %} <!-- Para q Django no bloquee el form-->
        <h4 style="display: inline;">Estado de evaluación docente:</h4>
        <p id="msg" style="display: inline;">
            {% if ciclo.evaluacion_activa == 0 %}
                Desactivado
            {% else %}
                Activado
            {% endif %}
        </p>
        <input type="number" name="id" value="{{ ciclo.id }}" hidden>

        <div class="form-check form-switch">
            <input type="hidden" name="estado" value="0">
            <input class="form-check-input" type="checkbox" role="switch" name="estado" value="1"
                   id="activarSwitch" {% if ciclo.evaluacion_activa == 1 %}checked{% endif %}
                   onchange="this.form.submit()">



            {% if ciclo.evaluacion_activa == 1 %}
                <label class="form-check-label" for="activarSwitch" id="indication">
                    Desactivar evaluación
                </label>
            {% else %}
                <label class="form-check-label" for="activarSwitch" id="indication">
                    Activar evaluación
                </label>
            {% endif %}

        </div>
    </form>


{% endblock %}