{% extends "admin/menu.html" %}

{% block title %}Materias{% endblock %}

{% block contenido %}
    <h2 class="titulo-principal">Materias</h2>

    {% if error %}
        <div class="alerta-error">{{ error }}</div>
    {% endif %}

    <form method="post" class="formulario">
        {% csrf_token %}
        <div class="campo-form">
            <label for="nombre">Nombre:</label>
            <input type="text" name="name" id="nombre" required>
        </div>

        <div class="campo-form">
            <label for="codigo">Código de materia:</label>
            <input type="text" name="codigo" id="codigo" required>
        </div>

        <div class="boton-contenedor">
            <button type="submit" class="boton-agregar">Agregar</button>
        </div>
    </form>

    <div class="tabla-contenedor">
        <table class="tabla-estudiantes" id="tabla-materias">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Materia</th>
                    <th>Estado</th>
                    <th>Docentes</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                    <tr>
                        <td>{{ materia.codigo }}</td>
                        <td>{{ materia.nombre }}</td>
                        <td>
                            <span class="estado {% if materia.estado == 1 %}activo{% else %}inactivo{% endif %}">
                                {% if materia.estado == 1 %}
                                    Activa
                                {% else %}
                                    Inactiva
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            {% for doc in materia.docentes_nombres %}
                                {{ doc }}<br>
                            {% empty %}
                                Ninguno
                            {% endfor %}
                        </td>
                        <td>
                            <a href="editar_materia/{{ materia.id }}" class="boton-editar">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
