{% load static %}
<!doctype html>
<html lang="es">
<head>
    <title>{% block title %}Inicio{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>

<body>
<header class="navbar">
    <nav class="nav-links">
        <a href="{% url 'index' %}" class="nav-link">Inicio</a>
        <a href="{% url 'estudiantes' %}" class="nav-link">Estudiantes</a>
        <a href="{% url 'materias' %}" class="nav-link">Materias</a>
        <a href="{% url 'docentes' %}" class="nav-link">Docentes</a>
        <a href="{% url 'resultados' %}" class="nav-link">Resultados</a>
        <a href="{% url 'logout' %}" class="nav-link cerrar-sesion">Cerrar sesión</a>
    </nav>
</header>

<main class="main-content">
    {% block contenido %}{% endblock %}
</main>

</body>
</html>
