{% extends "admin/menu.html" %}
{% load static %}

{% block title %}Resultados{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/resultados.css' %}">

<h2 class="titulo-principal">Resultados</h2>

    <div class="contenedor-resultados">

        <!-- Caja del formulario de filtrado -->
        <div class="formulario">
            <form method="get">
                <div class="campo-form">
                    <label for="ciclo_id">Selecciona un ciclo:</label>
                    <select name="ciclo_id" id="ciclo_id" required>
                        <option value="">-- Ciclo --</option>
                        {% for c in ciclos %}
                            <option value="{{ c.id }}" {% if ciclo_seleccionado == c.id %}selected{% endif %}>
                                {{ c.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="boton-contenedor">
                    <button type="submit" class="boton-agregar">Filtrar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Caja de la tabla de resultados -->
<div class="tabla-contenedor">
        <table class="tabla-estudiantes" id="tabla-resultados">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Docente</th>
                    <th>Materias</th>
                    <th>Puntaje por materia</th>
                    <th>Puntaje promedio</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Comentarios</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for d in resumen %}
                    <tr>
                        <td>{{ d.id }}</td>
                        <td>{{ d.nombre }}</td>
                        <td>
                            {% for m in d.materias %}
                                {{ m.materia }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for m in d.materias %}
                                {{ m.puntaje }}<br>
                            {% endfor %}
                        </td>
                        <td>{{ d.promedio }}</td>
                        <td>{{ d.likes }}</td>
                        <td>{{ d.dislikes }}</td>
                        <td>{{ d.comentarios }}</td>
                        <td>
                            <a class="boton-editar" href="{% url 'detalles_resultados' d.id ciclo_seleccionado %}">
                                Ver
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
