{% extends "admin/menu.html" %}

{% block title %}Materias{% endblock %}

{% block contenido %}
    <h2>Resultados</h2>
    <div class="col-6 mb-4">
        <button
                type="button"
                name=""
                id=""
                class="btn btn-dark"
        >
            Opciones de filtrado
        </button>
    </div>

    <div class=" col-12">
        <table class="table table-primary">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Docente</th>
                <th scope="col">Materias</th>
                <th scope="col">Puntaje por materia</th>
                <th scope="col">Puntaje promedio</th>
                <th scope="col">Likes</th>
                <th scope="col">Dislikes</th>
                <th scope="col">Comentarios</th>

                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td scope="row">1</td>
                <td>Albert</td>
                <td>Cálculo I<br>Calculo II</td>
                <td>50<br>48</td>
                <td>49</td>
                <td>54</td>
                <td>12</td>
                <td>37</td>
                <td><a name="" id="" class="btn btn-dark" href="detalles_resultado"
                       role="button">Ver</a></td>
            </tr>
            <tr class="">
                <td scope="row">2</td>
                <td>Mike</td>
                <td>Introducción a la ingeniería</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>16</td>
                <td>24</td>
                <td><a name="" id="" class="btn btn-dark" href="detalles_resultado"
                       role="button">Ver</a></td>

            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}